= "Welcome to #{@settings.name}, #{@user.name}"
\===============================================
 
= "You have successfully signed up to #{@settings.name}, your username is: #{@user.email}."
 
To confirm your account, please follow this link:
= @confirmation_url
 
Thanks for joining and have a great day!
