%h1= "Welcome to #{root_url}, #{@user.name}"
%p
  = "You have successfully signed up to #{root_url}, your username is: #{@user.login}."
  %br/
%p= "To login to the site, just follow this link: #{@url}."
%p Thanks for joining and have a great day!
