!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, shrink-to-fit=no"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DashboardByThom
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-primary
      %strong= link_to 'Dashboard by Thom', new_session_path, class: 'navbar-brand'
      %nav.collapse.navbar-collapse
        %ul.navbar-nav.ml-auto
          %li.nav-item.dropdown
            %a#navbarUserDropdown.nav-link.dropdown-toggle{href: '#', role: 'button', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
              Menu
            .dropdown-menu.dropdown-menu-right{'aria-leballedBy': 'navbarUserDropdown'}
              - if current_user
                = link_to 'Account', user_path(current_user), class: 'dropdown-item'
                = link_to 'Sign out', session_path(current_session), method: :delete, class: 'dropdown-item'
              - else
                = link_to 'Sign in', new_session_path, class: 'dropdown-item'
                = link_to 'Sign up', new_user_path, class: 'dropdown-item'
    .container.mt-5
      - flash.each do |key, value|
        .alert{class: "#{flash_class(key)}"}
          = value
          = key
      = yield
